@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Playfair Display', serif;
  --color-primary: #D4A373;
  --color-secondary: #A3B18A;
  --color-accent: #E8AEB7;
  --color-neutral: #F5F5F5;
}

/* Asegura que el body y el contenedor principal ocupen toda la altura */
body,
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  /* Esto asegura que el contenido principal ocupe todo el espacio disponible */
}

/* Estilo para el footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

body {
  @apply font-sans bg-neutral text-primary-dark;
}

a {
  @apply text-primary hover:text-accent transition-all duration-200;
}

button {
  @apply bg-primary text-neutral-light rounded-md px-4 py-2 hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-secondary-light;
}

/* Ocultar el componente de Clerk */
#clerk-components {
  display: none;
}